.container {
  position: relative;
  color: white;
}

.overlayAddepar {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  bottom: 0px;
  color: white;
  background-color: rgba(30, 40, 50, 0.5);
  height: 70px;
  padding-left: 12px;
  padding-bottom: 12px;
}

.card {
  padding-left: 24px;
  padding-bottom: 22px;
  background-color: #eee;
  color: #888;
  padding: 10px;
}

.rotating {
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(-360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
