#stepped-test {
  height: 200px;
}
#hover-test {
  height: 260px;
}
#delay-test {
  height: 150px;
}
.block {
  position: absolute;
  width: 230px;
  height: 50px;
  line-height: 50px;
  background-color: #000;
  cursor: pointer;
  text-align: center;
  color: #fff;
}
